body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: cadetblue;
}
h1{
    margin-left: auto;
    margin-right: auto;
}
.header{
    margin: auto;
}
.first-page{
    background-image: url("https://centraljersey.com/2020/09/16/homestead-princeton-announces-new-location-at-former-princeton-packet-building/");
}